{% extends "greetings/main.html" %}
{% load django_bootstrap_breadcrumbs %}
{% block title %}Math details{% endblock %}
{% load static %}
{% block local_styles %}<link rel="stylesheet" type="text/css" href="{% static 'maths/css/style_maths.css' %}">{% endblock %}

{% block breadcrumb %}
    {% breadcrumb "Home" "greetings:home" %}
    {% breadcrumb "Maths" "maths:list" %}
    {% breadcrumb "Details" "details" %}
{% endblock %}


{% block breadcrumb2 %}
    {% render_breadcrumbs "maths/breadcrumbs.html" %}
{% endblock %}




{% block content %}
<div class="table">
   <table>
       <tr>
           <th>Operation</th>
           <td>{{ math.operation }}</td>
       </tr>
       <tr>
           <th>a</th>
           <td>{{ math.a }}</td>
       </tr>
       <tr>
           <th>b</th>
           <td>{{ math.b }}</td>
       </tr>
       <tr>
           <th>Created:</th>
           <td>{{ math.created }}</td>
       </tr>
       <tr>
           <th>Result</th>
           <td>{{ math.result }}</td>
       </tr>
   </table>
   
</div>
<div class ="table">
    <a class="result" href="{% url "maths:list" %}">back</a>
</div>
{% endblock %}