{% extends "greetings/main.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Maths list{% endblock %}
{% load static %}
{% block local_styles %}<link rel="stylesheet" type="text/css" href="{% static 'maths/css/style_maths.css' %}">{% endblock %}
{% block breadcrumb %}
    {% breadcrumb "Home" "greetings:home" %}
    {% breadcrumb "Maths" "list" %}
    
{% endblock %}


{% block breadcrumb2 %}
    {% render_breadcrumbs "maths/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="content">
    <div class="content2">
        
        <div class="table">
            <table>
            <tr>
            {% for f in math_model_names %}
                {% if f.name != "created" %}
                <th>{{ f.name }}</th>
                {% endif %}
            {% endfor %}
            
            </tr>
            {% for f in maths %}
            <tr>
                <td><a class = "result" href="{% url "maths:details" f.id %}">{{ f.id }}</a></td>
                <td>{{ f.operation }}</td>
                <td>{{ f.a }}</td>
                <td>{{ f.b }}</td>
                <td>{{ f.result.value }}</td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div class="table">
            <span class="maths_list">
                {% if maths.has_previous %}
                    <a class ="result" href="?page=1" class="black">« first</a>
                    <a class ="result" href="?page={{ maths.previous_page_number }}" class="black">previous</a>
                {% endif %}
         
                <span>
                    Page {{ maths.number }} of {{ maths.paginator.num_pages }}.
                </span>
         
                {% if maths.has_next %}
                    <a class ="result" href="?page={{ maths.next_page_number }}" class="black">next</a>
                    <a class ="result" href="?page={{ maths.paginator.num_pages }}" class="black">last »</a>
                {% endif %}
            </span>
        </div>


    </div>
    <div class="content2">
        <div class ="table">
            <h2>Statistics</h2>
        </div>
    </div>
</div>
   
{% endblock %}