{% extends "greetings/main.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Post details{% endblock %}
{% load static %}
{% block local_styles %}<link rel="stylesheet" type="text/css" href="{% static 'posts/css/style_posts.css' %}">{% endblock %}

{% block breadcrumb %}
    {% breadcrumb "Home" "greetings:home" %}
    {% breadcrumb "Posts" "posts:posts_list" %}
    {% breadcrumb "Details" "post_details" %}
    
{% endblock %}


{% block breadcrumb2 %}
    {% render_breadcrumbs "posts/breadcrumbs.html" %}
{% endblock %}



{% block content %}
<div class="table">
   <table>
       <tr>
           <th>Title</th>
           <td>{{ post_details.title }}</td>
       </tr>
       <tr>
           <th>Content</th>
           <td>{{ post_details.content }}</td>
       </tr>
       <tr>
           <th>Created</th>
           <td>{{ post_details.created }}</td>
       </tr>
       <tr>
           <th>Modified</th>
           <td>{{ post_details.modified }}</td>
       </tr>
       <tr>
           <th>Author</th>
           <td>{{ post_details.author.nick }}</td>
       </tr>
   </table>
   
</div>
<div class="table">
    <a class="result" href="{% url "posts:posts_list" %}">back</a>
</div>
{% endblock %}